@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

.text-orange {
    color: #FF6D00 !important;
}

.text-black {
    color: #242331 !important;
}

.text-gray {
    color: #797979 !important;
}

.ff-regular {
    font-family: 'Nunito';
    font-weight: 400
}

.ff-medium {
    font-family: 'Nunito';
    font-weight: 500
}

.ff-semiBold {
    font-family: 'Nunito';
    font-weight: 600
}

.ff-bold {
    font-family: 'Nunito';
    font-weight: 700
}

.ff-extraBold {
    font-family: 'Nunito';
    font-weight: 800
}

.radius-39 {
    border-radius: 39px;
}

.radius-16 {
    border-radius: 16px;
}

@media screen and (max-width: 767px) {

    #sidebar {
      background-color: #FFB47C !important;
    }
  
  }

.zIndex {
    z-index: 10 !important;
  }

.bg-light-orange {
    background-color: #FFB47C;
}

.bg-orange {
    background-color: #FF6D00;
}

.bg-purple {
    background-color: #6850FF;
}

.image-container {
    position: absolute;
    bottom: 0;
    left: 40;
    right: 0;
    text-align: center;
}

.navbar-mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.navbar.scrolled {
    background-color: #FFBA69;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-mobile.scrolled {
    background-color: #FFBA69;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.border-gray {
    border-color: #D3D3D3 !important;
}


.background-feedback {
    background-image: url(https://qria-tech.s3.amazonaws.com/FeedbackBackground.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bgorange15 {
    background-image: url(https://qria-tech.s3.amazonaws.com/BgOrange15.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-dogs {
    background-image: url(https://qria-tech.s3.amazonaws.com/BgDogs.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px
}

.background-bigpost {
    background-image: url(https://qria-tech.s3.amazonaws.com/BigPostImage.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 767px) {
    .background-header {
        background-image: url(https://qria-tech.s3.amazonaws.com/backgroundTest.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

button {
    height: 45px;
    width: 200px;
}